<div class="contents row">
  <% @tweets.each do |tweet| %>
    <div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <p><%= tweet.text %></p>
       <%= simple_format(tweet.text) %>
        <%= tweet.name %>
      </span>
    </div>
  <% end %>
</div>